.sectionSkills{
    width: 100vw;
    height: 60vh;
    color:$metal;
    font-family: $roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__title{
        margin-bottom: 50px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
        color:$grey;
    }
    &__text{
        font-size: 15px;
        margin-left:20px;
        margin-right:20px;
        margin-top: 30px;
    }
}

@media all and (min-width: 768px) {
    .sectionSkills{
        &__title{
            margin-bottom: 30px;
            font-size: 30px;
        }
        &__text{
            font-size: 24px;
        }    
    }
}

@media all and (min-width: 1200px) {
    .sectionSkills{
        &__text{
        font-size: 30px;
        }
    }
}