.sectionSkills{
    width: 100vw;
    color:$metal;
    font-family: $roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__title{
        margin-top: 50px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
        color:$grey;
        
    }
    &__text{
        width: 320px;
        text-align:center;
        margin-top: 70px;
        font-size: 20px;
        &--parr{
            margin-bottom: 20px;
        }
    }
}

@media all and (min-width: 768px) {
    .sectionSkills{
        &__title{
            font-size: 30px;
        }
        &__text{
            font-size: 22px;
            width: 80%;
            
        margin-top: 50px;
        }    
    }
}

@media all and (min-width: 1200px) {
    .sectionSkills{
        &__text{
        font-size: 30px;
        width: 100%;
        }
    }
}