.sectionSkills{
    width: 100vw;
    height: 60vh;
    color:$metal;
    font-family: $roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sectionSkillsTitle{
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    color:$grey;
}

.sectionSkillsText{
    font-size: 15px;
    margin-left:20px;
    margin-right:20px;
    margin-top: 30px;
}

@media all and (min-width: 768px) {
    .sectionSkillsTitle{
        margin-bottom: 30px;
        font-size: 30px;
    }
    .sectionSkillsText{
        font-size: 24px;
}
}
@media all and (min-width: 1200px) {
    .sectionSkillsText{
        font-size: 30px;
    }
}