//colors

$metal: #54585a;
$grey: #a0a0a0;
$softGrey: #e4e4e46b;
$white: #ffffff;
$snorlax: #114e4e;
$easySnorlax: #196666;
$orange: #e17334;
$softOrange: #f39762;

//fonts
$roboto: 'Roboto', sans-serif;
