.header{
    background: linear-gradient(to right, $orange,$snorlax);
    width: 100vw;
    height: 20vh;
    color:$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:$roboto; 
    text-transform: uppercase;


    &__title{
        height: 50%;
        text-transform: uppercase;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content:center; 
        font-size: 25px;
        margin-top: 10px;
    }
}