$snorlax: #114e4e;
$orange: #e17334;
$white-one:#ffffff;

.header{
    background-color: $snorlax;
    width: 100vw;
    height: 20vh;
    color:$white-one;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    text-transform: uppercase;

}
.headerTitle{
    height: 50%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center; 
    font-size: 25px;
    margin-top: 10px;
}
.headerList{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    list-style: none;
    align-items: center;
    font-size: 14px;    
    padding-inline-start: 0px;
}
.listItem{
    margin:10px;
    text-decoration: none;
    
}
.listItem a{
    text-decoration: none;
    color:$orange;
    font-weight: 600;
}

@media all and (min-width: 768px) {
    .headerList{
        font-size: 20px;    
    }
    .listItem a{
        margin-left:25px; 
   }
  }
  @media all and (min-width: 1200px) {
    .headerList{
        font-size: 20px; 
         
    }
    .listItem a{
         margin-left:50px; 
    }
  }