
$grey: #a0a0a0;
$orange: #e17334;
$white:#ffffff;


.sectionMe{
  width: 100vw;
  height: 60vh;
  background-color: $orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.luciasPhoto{
  width: 200px;
  border: solid white 5px;
  border-radius: 35%;
}
.sectionMeTitle{

}
@media all and (min-width: 768px) {
  .luciasPhoto{
    width: 250px;
    border: solid $grey 5px;
    border-radius: 35%;
  }
}
@media all and (min-width: 1200px) {}