.menuList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 0px;
  &__listItem {
    margin: 8px;
    text-decoration: none;

    &--link {
      text-decoration: none;
      color: $white;
    }
    &--link:hover {
      color: $white;
    }
  }
}
.returnText {
  text-align: center;
  font-family: $roboto;
  font-weight: bolder;
  margin-top: 50px;
  color: $easySnorlax;
  text-transform: uppercase;
}

@media all and (min-width: 768px) {
  .menuList {
    font-size: 20px;
    &__listItem {
      margin: 20px;
    }
  }
}
