$snorlax: #114e4e;
$orange: #e17334;
$softOrange:#f39762;
$white-one:#ffffff;
$easySnorlax:#196666;
$grey: #d8d8d8;

.menuList{
    display: flex;
    flex-direction: row;
    justify-content:space-between; 
    list-style: none;
    padding-inline-start: 0px;
}
.listItem{
    margin:10px;
    text-decoration: none;
    
}
.listItemButton{
    border: 0px;
    background-color: transparent;
    color: $grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

@media all and (min-width: 768px) {
    .headerList{
        font-size: 20px;    
    }
    .listItemButton{
        font-size: 20px;
    }
    .listItem{
        margin:20px;        
    }
   
  }
  @media all and (min-width: 1200px) {
    .headerList{
        font-size: 20px; 
    }
    .listItemButton{
        font-size: 25px;
    }
    .listItem{
        margin:20px;        
    }
   
  }