.menuList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 0px;
  &__listItem {
    margin: 10px;
    text-decoration: none;

    &--link {
      text-decoration: none;
      color: $grey;
    }
    &--link:hover {
      color: $white;
    }
  }
}

@media all and (min-width: 768px) {
  .menuList {
    font-size: 20px;
    &__listItem {
      margin: 20px;
    }
  }
}
@media all and (min-width: 1200px) {
  .menuList {
    font-size: 25px;
    &__listItem {
      margin: 20px;
    }
  }
}
