$white-one: #ffffff;
$metal: #54585a;
$snorlax: #114e4e;
$easySnorlax:#196666;
$grey: #a0a0a0;
$orange: #e17334;
$softOrange:#f39762;
$white:#ffffff;


.sectionSkills{
    width: 100vw;
    height: 60vh;
    color:$metal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sectionSkillsTitle{
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
}

.sectionSkillsText{
    font-size: 15px;
    margin-left:20px;
    margin-right:20px;
    margin-top: 30px;
}

@media all and (min-width: 768px) {
    .sectionSkillsTitle{
        margin-bottom: 50px;
        font-size: 40px;
    }
    .sectionSkillsText{
        font-size: 24px;
}
}
@media all and (min-width: 1200px) {
    .sectionSkillsText{
        font-size: 30px;
    }
}